.navbar {
    background: rgba(0, 0, 0, 0.5);
    position: fixed; 
    width: 100%; 
    top: 0;
    left: 0;
    padding: 1rem;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly; 
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
  }
  
  .navbar-link.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem; 
  }
  
  .navbar-link:hover {
    transform: scale(1.1);
    color: #007bff;
    transition: 2s;
  }
  